/* Nav-bar */

.nav-bar {
  background-color: var(--nav-bar-bg-color);
  padding: 20px 50px;
  border-top: var(--main-border);
  position: fixed; /* width 값이 사라짐. */
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
}
.nav-bar__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar__ul__li__a {
  position: relative;
}
.nav-bar__ul__li__a__noti {
  position: absolute;
  right: -14px;
  top: -20px;
}
